body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    text-align: center;
    /* Centra el texto dentro de la tarjeta */
    padding: 20px;
    /* Espacio interno en la tarjeta */
    margin-top: 22% ; /*Centra la tarjeta horizontalmente*/
    background-color: white;
    margin-bottom: 22%;
    border-radius: 0% 5% 5% 0%;
   
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    text-align: center;
    
}

input {
    display: block;
    margin: 10px auto;
    /* Espacio entre los elementos */
    

}

.input-field,
.login {
    width: 100%;
    /* Hace que ocupen el 100% del contenedor padre */
    max-width: 300px;
    /* Limita el ancho máximo */
    display: block;
    margin: 10px auto;
    /* Añade espacio entre los elementos */
    padding: 10px;
    /* Aumenta el tamaño interno del input */
    box-sizing: border-box;
    /* Incluye el padding y border en el ancho total */
}

.login {
    background-color: #4CAF50;
    /* Color del botón */
    color: white;
    /* Texto en blanco */
    border: none;
    /* Elimina el borde */
    cursor: pointer;
    /* Cambia el cursor cuando pasas sobre el botón */
    border-top-left-radius: 15px; /* Curva la esquina superior izquierda */
    border-top-right-radius: 15px; /* Curva la esquina superior derecha */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login:hover {
    background-color: #1dc225;
    /* Color cuando se pasa sobre el botón */

}



main{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
/* Color AZul Login */
.sec1{
background-color: blue;
width: 30%;
height: 100%;
padding-top: 128px;
padding-bottom: 15.3%;
}
.card1{
    background-color: white;
    border-radius: 5% 0% 0% 5%;
    height: 100%;
    
    
}

/*color Griss Panel */
.sec2{
    background-color: grey;
    height: 100%;
    width: 70%;
}

