body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 14s0px;
}
.head-cab1 {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
}
.log-1 {
  width: 20%;
  height: 100px;
  background-color: blue;
}
.seccion-1 {
  color: aqua;
  width: 70%;
  height: 100px;
  background-color: bisque;
}
.cuenta {
  background-color: #1dc225;
  color: aqua;
  width: 10%;
}

.re-das {
  width: 70%;
  height: 100%;
  background-color: yellow;
}
.re-des {
  width: 30%;
  height: 100%;
  background-color: antiquewhite;
}
/*Main Contenido */
main {
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin: 10px auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

table {
  width: 100%; /* Ocupa todo el ancho disponible */
  border-collapse: collapse; /* Colapsa los bordes para un aspecto más limpio */
}

th {
  border-bottom: 2px solid rgb(160, 147, 147); /* Borde inferior de cada celda de encabezado */
  padding: 10px; /* Espacio interno para mejorar la legibilidad */
}

thead {
  border-top: 2px solid rgb(160, 147, 147); /* Borde superior grueso del encabezado */
}

td{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.nuv-ev{
    background-color: #1dc225;
    margin-left: 67px;
    padding: 5px;
}